<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/all.css">
    <title>فيزياء ابراهيم</title>
</head>
<body>
    


    <footer>
        <center>
            <h3 style="color: white; ">
                تمت البرمجة و التصميم بواسطة ابراهيم راشد
            </h3>
        </center>

        <style>
            footer{
                border-top: #fff 2px solid;
                width: 100%;
                height: 100px;
                background: #000;
                /*margin-top: 70px;*/

            }
            h3{
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 30px;
            }
        </style>
    </footer>
</body>
</html>