<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بسطتهالك عربي</title>
    <link rel="stylesheet" href="static/css/all.css">
    <link rel="stylesheet" href="static/css/asmaa-arabic.css">
</head>
<body>
    
    <h1>
            عربي اسماء
    </h1>

    <!--  -->
        <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g6yEaaVceps?si=DHmJWulHmMS5eYd9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </center>

        <!--  -->
        <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Eas-J_3wKy8?si=GiTc2lTuLvFjdBb3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </center>
        <!--  -->
        <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2bXSvO67TzY?si=M9rDFhhLjelye2Qd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </center>

        <!--  -->
        <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pDHQbZRhISE?si=Ktcw80mRX31ZxNNK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
        </center>

        <!--  -->
        <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-Ht7muhYAmw?si=-RJ-g1OauxZZYKYZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        
        </center>

        <!--  -->
        <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5SeV1RO4vSM?si=u0iQ0hnBs61M9_H-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        
        </center>


        <br><br><br>

    <footer>
        <center>
            <h3 style="color: white; ">
                تمت البرمجة و التصميم بواسطة ابراهيم راشد
            </h3>
        </center>

        <style>
            footer{
                border-top: #fff 2px solid;
                width: 100%;
                height: 80px;
                background: #000;
                position: fixed;
                bottom: 0;


            }
            h3{
                padding-top: 20px;
               /* padding-bottom: 20px;*/
                font-size: 22px;
            }
        </style>
    </footer>
</body>
</html>