<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/all.css">
    <title>هريدي اولى ثانوي</title>
</head>
<body>
    









    <footer>
        <center>
            <h3 style="color: white; ">
                تمت البرمجة و التصميم بواسطة ابراهيم راشد
            </h3>
        </center>

        <style>
            footer{
                border-top: #fff 2px solid;
                width: 100%;
                height: 80px;
                background: #000;
                position: fixed;
                bottom: 0;


            }
            h3{
                padding-top: 20px;
               /* padding-bottom: 20px;*/
                font-size: 22px;
            }
        </style>
    </footer>
</body>
</html>