<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحة أسماء</title>
    <link rel="stylesheet" href="/static/css/asmaa.css">
    <link rel="stylesheet" href="/static/css/all.css">
</head>
<body>

    <h1>صفحة اسماء</h1>
    <div class="option">
        <div class="male">
            <a href="asmaa-arabic">
                <li>
                    **عربي - نحو ( بسطتهالك )**

                </li>
            </a>
        </div>


        <div class="male">
            <a href="asmaa-maths">
                <li>
                    **رياضيات ( حسام ميرا )**

                </li>
            </a>
        </div>

        <div class="male">
            <a href="asmaa-french">
                <li>
                    **فرنساوي ( هريدي )**

                </li>
            </a>
        </div>

        <div class="male">
            <a href="asmaa-revision">
                <li>
                    ** مراجعات **

                </li>
            </a>
        </div>
<!--  
        <div class="male">
            <a href="asmaa">
                <li>
                    **أسماء**

                </li>
            </a>
        </div> -->

        
    </div>
<br><br><br>
    <footer>
        <center>
            <h3 style="color: white; ">
                تمت البرمجة و التصميم بواسطة ابراهيم راشد
            </h3>
        </center>

        <style>
            footer{
                border-top: #fff 2px solid;
                width: 100%;
                height: 80px;
                background: #000;
                position: fixed;
                bottom: 0;


            }
            h3{
                padding-top: 20px;
               /* padding-bottom: 20px;*/
                font-size: 22px;
            }
        </style>
    </footer>
</body>
</html>