<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hema_page</title>
    <link rel="stylesheet" href="static/css/asmaa.css">
    <link rel="stylesheet" href="static/css/all.css">
</head>
<body>

    <h1>صفحة ابراهيم</h1>
    <div class="option">
        <div class="male">
            <a href="hema-physics">
                <li>
                    **الفيزياء**

                </li>
            </a>
        </div>

        <div class="male">
            <a href="hema-chemistry">
                <li>
                    **الكيمياء**

                </li>
            </a>
        </div>

        <div class="male">
            <a href="hema-biology">
                <li>
                    **الاحياء**

                </li>
            </a>
        </div>

        <div class="male">
            <a href="hema-arabic">
                <li>
                    **العربي**

                </li>
            </a>
        </div>

        <div class="male">
            <a href="hema-maths">
                <li>
                    **الرياضة التطبيقية**

                </li>
            </a>
        </div>

        <div class="male">
            <a href="hema-revision">
                <li>
                    **مراجعات**

                </li>
            </a>
        </div>

        <!-- <div class="male">
            <a href="#">
                <li>
                    **العربي**

                </li>
            </a>
        </div> -->


    </div>

    <footer>
        <center>
            <h3 style="color: white; ">
                تمت البرمجة و التصميم بواسطة ابراهيم راشد
            </h3>
        </center>

        <style>
            footer{
                border-top: #fff 2px solid;
                width: 100%;
                height: 80px;
                background: #000;
                position: fixed;
                bottom: 0;


            }
            h3{
                padding-top: 20px;
               /* padding-bottom: 20px;*/
                font-size: 22px;
            }
        </style>
    </footer>
</body>
</html>